@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #293241;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    padding: 20px;
    background-image: linear-gradient(#B388EB, #f8f9fa);
}

#continer{
   max-width: 800px;
   min-height: 600px;
   margin-inline: auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   gap: 1rem;
   align-content: space-evenly;
}

.box{
    min-width: 220px;
    min-height: 250px;
    background-color: #F8F9FA;
    color: white;
    /* padding: 0.5rem; */
}
 
.box img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 5rem;
    box-shadow: 2px 2px 3px silver;
}

.box figcaption{
    margin-top: 0.5rem;
    margin-left: 4rem;
    color: #293241;
    font-weight: bolder;
}
.box footer{
    width: 220px;
    min-height: 80px;
    margin-top: 2.5em;
    /* display: flex; */
    background-color: hsla(0, 0%, 83%, 0.545);
    color: #293241;
}

footer{
    display: flex;
    gap: 2em;
    justify-content: center;
    line-height: 1.5rem;
}
h4{
    text-indent: 1rem;
}
footer div{
    margin-top: 0.5rem;
}